[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/fast-hadamard-transform"]
	path = 3rdparty/fast-hadamard-transform
	url = https://github.com/Dao-AILab/fast-hadamard-transform.git
[submodule "3rdparty/lm-evaluation-harness"]
	path = 3rdparty/lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness.git
[submodule "3rdparty/mamba"]
	path = 3rdparty/mamba
	url = git@github.com:enyac-group/mamba.git
[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
